%p#notice= notice
%p#error= flash[:error]

.panel.panel-default
  .panel-heading
    %h4= 'Product: ' + product.title
  .panel-body
    .row
      .col-md-12.col-sm-12
        %p
          %b Title:
          = product.title
        %p
          %b Description:
          = product.description
        %p
          %b Price:
          = product.price

        %p
          %b Category
          = product.category.name

- if product.reviews.size == 0
  %h4 There are no reviews of this product.
- else
  .panel.panel-default
    .panel-heading
      %h4 Reviews
    .panel-body
      = render reviews

- if current_user
  .col-md-12.col-xs-12
    %btn#add-review.btn.btn-primary
      Add review
    #add-review-form
      .panel.panel-default
        .panel-heading
          %h5 Add review
        .panel-body
          = render 'reviews/form'

= link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
= link_to 'Back', category_products_path, class: 'btn btn-info'
