%p#notice= notice
%p#error= flash[:error]

.panel.panel-default
  .panel-heading
    %h4= 'Product: ' + product.title
  .panel-body
    .row
      .col-md-12.col-sm-12
        %p
          %b Title:
          = product.title
        %p
          %b Description:
          = product.description
        %p
          %b Price:
          = product.price

        %p
          %b Category
          = product.category.name

- if current_user
  %btn#add-review.btn.btn-primary
    Add review
  #add-review-form
    .panel.panel-default
      .panel-heading
        %h5 Add review
      .panel-body
        = render 'reviews/form'

.panel.panel-default
  .panel-heading
    %h4 Reviews
  .panel-body
    = render reviews

= link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
= link_to 'Back', category_products_path, class: 'btn btn-info'
